SPORTSDB_API_KEY=123
SPORTSDB_CACHE_TTL_SECONDS=300
SPORTSDB_LOOKAHEAD_DAYS=10
SPORTSDB_HOME_ADVANTAGE=60
SPORTSDB_TEAM_LOOKUPS=12
SPORTSDB_RECENT_GAMES=5
SPORTSDB_H2H_GAMES=5
SPORTSDB_REST_CAP=14
SPORTSDB_MAX_ADJUSTMENT=400
SPORTSDB_WEIGHT_WIN_PCT=160
SPORTSDB_WEIGHT_RECENT=120
SPORTSDB_WEIGHT_H2H=80
SPORTSDB_WEIGHT_REST=5
SPORTSDB_WEIGHT_POINT_DIFF=1.0
